.wrapper{
    margin: 2.5% 10%;
}

.eventfarm{
    display: flex;
}

.farmWrapper, .commentWrapper{
    box-shadow: 0px 2px 10px black;
    border-radius: 40px;
    width: 40%;
    margin-left: 50px;
    font-size: 15px;
}

.commentWrapper{
    border-radius: 0px;
}

.farmName{
    text-align: center;
    font-size: xx-large;
}

.farmInfo{
    padding: 30px;
}

.comments{
    padding: 10px;
}

.table{
    padding: 10px;
    font-size: 18px;
}

.commentHead{
    font-size: 20px;
    background-color: rgba(133, 142, 144, 0.5);
}

.participate{
    font-size: x-large;
    margin: 10px;
    background-color: rgb(64, 179, 140);
    border: 0px;
}

.eventCardWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: rgb(226, 238, 240);
    box-shadow: 0px 2px 10px black;
    width: 25%;
    border: solid 1px black;
    border-radius: 40px;
}

.eventImage{
    padding: 10px;
}

.eventDescription h3{
    padding: 10px 0px;
    width: 80%;
    margin: auto;;
}

.eventDescription div{
    font-weight: 600;
    font-size: x-large;
    width: 80%;
    border-bottom: 1px solid black;
    margin: auto;;
    margin-bottom: 10px; 
}