
.navbar{
    background: rgba(255,255,255,0.8) !important;
}

.navitext{
    color: #000000 !important;
    text-decoration: underline !important;
    padding: 15px !important;
}

.wrapper{
    font-size: 20px;
    color: #f5f5f5;
}

.button{
    font-size: 20px;
}
