/* Vars */
:root {
  --xs: 1.2rem;
  --sm: 1.6rem;
  --med: 2rem;
  --lg: 2.4rem;
  --xl: 2.8rem;
  --xxl: 3.2rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5% !important; /* Now the base font size is 10px, use rems in decimal to get desired size */
}


